#menu-a .navbar-toggler {
  color: #000000;
}
#social-buttons2-7 .mbr-section-title {
  color: #e6e0dc;
}
#menu-m .navbar-toggler {
  color: #000000;
}
#social-buttons2-1b .mbr-section-title {
  color: #e6e0dc;
}
#menu-m .navbar-toggler {
  color: #000000;
}
#msg-box3-1d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons2-1f .mbr-section-title {
  color: #e6e0dc;
}
#menu-m .navbar-toggler {
  color: #000000;
}
#social-buttons2-1k .mbr-section-title {
  color: #e6e0dc;
}
#menu-n .navbar-toggler {
  color: #000000;
}
#social-buttons2-17 .mbr-section-title {
  color: #e6e0dc;
}
#menu-a .navbar-toggler {
  color: #000000;
}
#social-buttons2-1g .mbr-section-title {
  color: #e6e0dc;
}
#menu-j .navbar-toggler {
  color: #000000;
}
#social-buttons2-v .mbr-section-title {
  color: #e6e0dc;
}
#menu-k .navbar-toggler {
  color: #000000;
}
#social-buttons2-w .mbr-section-title {
  color: #e6e0dc;
}
#menu-l .navbar-toggler {
  color: #000000;
}
#social-buttons2-z .mbr-section-title {
  color: #e6e0dc;
}
#menu-m .navbar-toggler {
  color: #000000;
}
#social-buttons2-10 .mbr-section-title {
  color: #e6e0dc;
}
#menu-1o .navbar-toggler {
  color: #000000;
}
#social-buttons2-1v .mbr-section-title {
  color: #e6e0dc;
}
